[submodule "Externals/alpstein-route-me"]
	path = Externals/alpstein-route-me
	url = https://github.com/mapbox/alpstein-route-me.git
[submodule "Externals/MBProgressHUD"]
	path = Externals/MBProgressHUD
	url = https://github.com/matej/MBProgressHUD.git
[submodule "Externals/QuadCurveMenu"]
	path = Externals/QuadCurveMenu
	url = https://github.com/levey/QuadCurveMenu.git
